* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body {
    height: 100vh;
    overflow: hidden;
    /* background-color: #bbc6fa; */
    background-image: url('background.avif');
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); */

    
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff;
}

.action_btn {
  transition: transform 0.2s ease;
}

.action_btn:hover {
  transform: scale(1.05);
}

.action_btn:active {
  transform: scale(0.95);
}

/* Responsive web design */

@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }
}

